@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
    color: white;
    background-color: darkblue;
}

header {
    text-align: center;
    font-size: 1.3em;
    margin:10px auto 20px auto;
}

section {
    background-color: white;
    padding: 20px;
    margin: 10px auto;
    width: 90vw;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.582);
    color: black;
    display: block;
}

div {
    text-align: start;
    margin-bottom: 6px;
    padding: 10px;
    line-height: 30px;
    font-size: 1.2em;
}

div#dados > p {
    font-size: medium;
    font-weight: 600;
}

div#dados {
    background-color: rgba(247, 244, 244, 0.788);
    border: 1px solid black;
    
}

input#txti, #txtf, #txtp{
    width: 81vw;
    padding: 7px;
    margin: 8px auto;
    background-color: rgb(205, 205, 255);
}

input#botao {
    padding: 8px;
    margin:10px auto;
    width: 100px;
    width: 81vw;
    font-weight: 700;
    font-size: 0.8em;
}


footer {
    text-align: center;
    font-style: italic;
}