@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
    color: white;
    background-color: darkblue;
}

header {
    text-align: center;
    font-size: 1.5em;
}

section {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 90vw;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.582);
    color: black;
}

div {
    text-align: justify;
    margin-bottom: 10px;
    font-size: 1.2em;
}

div#texto {
    line-height: 40px;
}

input#verificar {
    padding: 10px;
    width: 150px;
    margin-top: 10px;
}

footer {
    text-align: center;
    font-style: italic;
}