@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
    background-color: rgb(15, 88, 245);
    color: white;
}

header {
    text-align: center;
    font-size: 1.5em;
}

section {
    background-color: white;
    padding: 20px;
    margin: 10px auto;
    width: 90vw;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.582);
    color: black;
}

footer {
    text-align: center;
    font-style: italic;
}